<h1 class="title">Alphabetized Customer List</h1>

<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <%= render 'customer', customer: customer %>
  <% end %>
</div>

<div class="buttons">
  <%= link_to 'Back to Customer List', customers_path, class: 'button is-info' %>
  <%= link_to 'Customers Missing Email', customers_missing_email_path, class: 'button is-info' %>
</div>
